<div class="container">
    <form>
        <div class="form-group">
            <label for="searchProperty"><h5>Search Property</h5></label>
            <input type="input" class="form-control" id="searchProperty"  placeholder="Enter Zip Code or City" required>
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
</div>