<div class="container">
    <form>
        <div class="form-group">
            <label for="searchProperty"><h5>Search Property</h5></label>
            <input id="search-input" type="input" class="form-control" id="searchProperty"  placeholder="Enter Zip Code or City" required>
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
</div>
<script>
var placeSearch, autocomplete;
    function initAutocomplete() {
      // Create the autocomplete object, restricting the search to geographical
      // location types.
      autocomplete = new google.maps.places.Autocomplete(
            (document.getElementById('search-input')),
        { types: ['geocode'] });
    //   //Load map with assigned locator
    //   var map = new google.maps.Map(document.getElementById('map'), {
    //     mapTypeControl: false,
    //     center: { lat: 34.251268, lng: -118.441183 },
    //     zoom: 18
    //   });
      //new AutocompleteDirectionsHandler(map);
    } //end of initAutoComplete()
    </script>
    